/data
/crop-eyes/yourfolderforcroppedeyes
/**/*.h5
/lib
/Transformer/saved_models
/Transformer/lightning_logs
/Transformer/tmp
/Transformer/HPC/
/Transformer/modelZoo
/Transformer/TimeSformer-finetuned
/Transformer/test-finetuned-ucf101-subset
/zipped