*, *::after, *::before{
    box-sizing: border-box;
}

.button1{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button2{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button1:hover {
    background-color: #72BCD4;
    transition: 0.7s;
}

.button2:hover {
    background-color: #72BCD4;
    transition: 0.7s;
}

.material-icons:hover {
    background-color: #72BCD4;
    transition: 0.7s;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width:500px;
    max-width:80%;
    
}

.popup-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.container{
    display:flex;
    justify-content: center;
    grid-gap: 30px; 
    align-items:center;
    margin-left: auto;
    margin-right: auto;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black;
    color: darkblue;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
    color: darkblue;
}

.modal-header .closebtn{
    cursor:pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;

}

.tripsAll, td, th{
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    width:21.392%;
}

.tripsAll{
    table-layout: fixed ;
    width: 60%;
    padding: 15px;
    height: 750px;
    display: block;
    overflow-y: scroll;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    
}

th{
    border-bottom: 1px solid #ddd;
    background-color: #a7ccd9;
    color: black;
    text-align: center;
    padding: 15px;
}
table {
    width: 50%;
    padding: 15px;
    
}

/* scroll bar edits */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #608997; 
    border-radius: 10px;
    box-shadow: inset 0 0 7px #85deff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3e5863; 
  }


.parkBtn{
    padding: 5px;
    margin-top: 10px;
    
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: white;
    position: relative;
}

.title h1{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 100px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.7);
}

.timer-options,.sliderValue,.page-subtitle{
    font-family: Arial, Helvetica, sans-serif;
}

.agreement{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

a:link {
    color: blue;
  }

a:hover {
    color: red;
  }
  
a:active {
    color: red;
  }

.subsections{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.material-icons{
    position: relative;
    right: 0;
}